In [1]:
2+2

4

In [2]:
5%2

1

In [3]:
2*2

4

In [4]:
print('i love you')

i love you

In [5]:
a= 5

In [6]:
a=a+1

In [7]:
a

6

In [8]:
my_list = ['asmita',1,1.2]

In [9]:
my_list

['asmita', 1, 1.2]

In [10]:
my_list[0]

'asmita'

In [11]:
my_list[::-1]

[1.2, 1, 'asmita']

In [12]:
my_list.append('manjeel')

In [13]:
my_list

['asmita', 1, 1.2, 'manjeel']

In [14]:
my_list.pop()

'manjeel'

In [15]:
my_list

['asmita', 1, 1.2]

In [16]:
a = 'asmita'

In [20]:
a.split( ' ')

['asmita']

In [21]:
a[0]

'a'

In [22]:
a[::-1]

'atimsa'

In [24]:
print('the man is {}'.format('mad'))

the man is mad

In [25]:
a = 'my name is asmita'

In [26]:
a

'my name is asmita'

In [27]:
a.upper()

'MY NAME IS ASMITA'

In [28]:
a = 'my name is amanjeel'

In [29]:
a

'my name is amanjeel'

In [30]:
my_dist = {'a':1,'b':'apple','c':[1,2,2]}

In [31]:
my_dist

{'a': 1, 'b': 'apple', 'c': [1, 2, 2]}

In [33]:
my_dist['a']

1

In [35]:
my_dist['c'][1]

2

In [38]:
my_dist['a'] = 4

In [39]:
my_dist

{'a': 4, 'b': 'apple', 'c': [1, 2, 2]}

In [41]:
my_dist.values()

dict_values([4, 'apple', [1, 2, 2]])

In [42]:
my_dist.keys()

dict_keys(['a', 'b', 'c'])

In [43]:
my_dist.items()

dict_items([('a', 4), ('b', 'apple'), ('c', [1, 2, 2])])

In [44]:
tuples = ('a','b',1)

In [45]:
tuples

('a', 'b', 1)

In [46]:
tuples[0]

'a'

In [47]:
tuples.count('a')

1

In [52]:
tuples.index('a')

0

In [53]:
a= set()

In [54]:
a

set()

In [55]:
a.add(1)

In [56]:
a

{1}

In [58]:
my_list = [1,2,3,3,3]

In [61]:
set(my_list)

{1, 2, 3}

In [62]:
1>3

False

In [63]:
3==3

True

In [64]:
b = None

In [65]:
b

In [66]:
a=set()

In [67]:
a

set()

In [68]:
 a= [1,2,2,2]

In [69]:
set(a)

{1, 2}

In [70]:
2==2

True

In [71]:
2>3

False

In [72]:
2>=1

True

In [73]:
3<4

True

In [74]:
3<=11

True

In [75]:
'bye'=='Bye'

False

In [76]:
2==2.0

True

In [77]:
2>2 and 1<3

False

In [78]:
2==2 and 1<3

True

In [79]:
2>4 or 1>2

False

In [80]:
2<3 or 1>3

True

In [81]:
not 400>500

True

In [82]:
not 3>3

True

In [83]:
not 3==3

False

In [1]:
name = 'asmita'
if name=='manjeel':
    print('he is good')
elif name=='asmita':
    print('she is sweet')
else:
    print('no need')

she is sweet

In [2]:
a = 8
if a>9:
    print('not true')
elif a>2:
    print('thats corrct')
else:
    ('no rght')

thats corrct

In [3]:
my_list = [1,2,3,4,5]
counter = 0 
for num in my_list:
    counter = counter + num 
    
print(counter)

15

In [1]:
a = 'asmita'
for _ in a:
    print('i love you')

i love you
i love you
i love you
i love you
i love you
i love you

In [3]:
tup = (1,2,3)
for a in tup:
    print(a)

1
2
3

In [4]:
d ={'k':1,'k2':2,'k3':3}
for a in d.items():
    print(a)

('k', 1)
('k2', 2)
('k3', 3)

In [5]:
for a in d.values():
    print(a)

1
2
3

In [12]:
sun = [1,2,3,4,5,6]
for a in sun:
    if a % 2 ==0:
        print('a')
    else:
        print('odd')

odd
a
odd
a
odd
a

In [13]:
x = 0
while x<5 :
    print (x)
    x=x+1

0
1
2
3
4

In [19]:
 x = 5
while x < 8:

    print(x)
    x = x+ 1

5
6
7

In [ ]:
x = 0
while

In [21]:
for item in range(10):
    print (item)

0
1
2
3
4
5
6
7
8
9

In [22]:
for item in range(3,9):
    print(item)

3
4
5
6
7
8

In [23]:
for item in range(2,10,2):
    print(item)

2
4
6
8

In [25]:
a = [1,2,3,4,5]
for item in enumerate(a):
    print(item)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [28]:
for c,b in enumerate(a):
    print(c)
    print(b)
    print('\n')

0
1


1
2


2
3


3
4


4
5

In [29]:
'x' in 'xray'

True

In [30]:
a = [1,2,7,0,9]
max(a)

9

In [31]:
min(a)

0

In [32]:
from random import shuffle

In [33]:
a = [1,2,7,9,8]

In [34]:
shuffle(a)

In [36]:
a

[2, 7, 1, 9, 8]

In [37]:
from random import randint

In [39]:
randint(1,9)

1

In [1]:
a = input('whats ur name')

whats ur nameasmita

In [2]:
a

'asmita'